body {
    background-color:rgb(172, 206, 252);
}

.grid {
    display: grid;
    grid-template-columns: 19% 19% 19% 19%;
    justify-content: center;
 
}

.item {
    color: #687980;
    max-width: 190px;
    max-height: 800px;
    border: 1px solid #FEFBF3;
    border-radius: 4px;
    padding: 15px;
    margin: 15px;
    margin-top: 35px;
    background-color: #fcfcfc;
    box-shadow: 0 4px 8px 0 rgb(98, 161, 252);
    box-shadow: 0 6px 20px 0 rgb(98, 161, 250);

}

h1 {
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;

}
    
p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 15px 5px 15px 5px;

}

img {
    max-width: 58px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-family: 'Open Sans', sans-serif;
    color: #687980;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight:bold;
    font-size: 15px;
    background-color: white;
    border:none;
}

button:hover {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid rgb(166, 216, 252);
    background-color: rgb(98, 161, 250);
    
    color: #f1e8cd;
    font-weight: bold;
    padding: 9px 17px 9px 17px;
    border-radius: 23px;
    cursor: pointer;
    box-shadow: 7px 7px 5px rgb(151, 151, 151);
}

.item:hover {
    transition:ease-in-out;
    cursor: pointer;
    box-shadow: 7px 7px 5px rgb(84, 85, 85);
}




       

    




